/* 
   Filename: 10-style.css
   Purpose: Define custom properties and apply styles to various elements
*/

/* Define custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
  
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
  
    --section-header-align: center; /* New custom property for section header alignment */
  }
  
  /* Apply styles to the body */
  body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
  }
  
  /* Apply styles to headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
  }
  
  /* Apply styles to anchor elements */
  a {
    color: var(--text-color);
    text-decoration: none; /* Remove text decoration for anchor elements */
  }
  
  /* Hide elements with class visually-hidden */
  .visually-hidden {
    display: none;
  }
  
  /* Apply styles to elements with class card-category */
  .card-category {
    color: var(--color-primary);
  }
  
  /* Apply styles to elements with class section-tagline */
  .section-tagline {
    color: var(--color-primary);
  }
  
  /* Apply styles to elements with class section-header */
  .section-header {
    text-align: var(--section-header-align); /* Set horizontal alignment for section header */
  }
  