/* 
   Filename: 18-style.css
   Purpose: Normalize CSS across different browsers
*/

/* Universal box-sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Set line height and text size adjustment for HTML */
html {
  line-height: 1.15; /* 1. Set the line height */
  -webkit-text-size-adjust: 100%; /* 2. Adjust text size for WebKit browsers */
}

/* Sections */
/* Remove margin from body */
body {
  margin: 0;
}

/* Render main element consistently in IE */
main {
  display: block;
}

/* Correct font size and margin for h1 elements */
h1 {
  font-size: 2em; /* 1. Set font size to 2em */
  margin: 0.67em 0; /* 2. Set top and bottom margin to 0.67em, left and right margin to 0 */
}

/* Grouping content */
/* Add correct box sizing and overflow behavior for hr */
hr {
  box-sizing: content-box; /* 1. Set box sizing to content-box */
  height: 0; /* 1. Set height to 0 */
  overflow: visible; /* 2. Make overflow visible */
}

/* Correct font size for pre elements */
pre {
  font-family: monospace, monospace; /* 1. Set monospace font family */
  font-size: 1em; /* 2. Set font size to 1em */
}

/* Text-level semantics */
/* Remove gray background on active links */
a {
  background-color: transparent;
}

/* Correct text decoration for abbr elements */
abbr[title] {
  border-bottom: none; /* 1. Remove bottom border */
  text-decoration: underline; /* 2. Add underline text decoration */
  text-decoration: underline dotted; /* 2. Add dotted underline text decoration */
}

/* Add correct font weight for b and strong elements */
b,
strong {
  font-weight: bolder;
}

/* Correct font size for code, kbd, and samp elements */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1. Set monospace font family */
  font-size: 1em; /* 2. Set font size to 1em */
}

/* Add correct font size for small elements */
small {
  font-size: 80%; /* Set font size to 80% */
}

/* Prevent sub and sup elements from affecting line height */
sub,
sup {
  font-size: 75%; /* Set font size to 75% */
  line-height: 0; /* Set line height to 0 */
  position: relative; /* Set position to relative */
  vertical-align: baseline; /* Align vertically to baseline */
}

/* Set position for sub elements */
sub {
  bottom: -0.25em; /* Set bottom position */
}

/* Set position for sup elements */
sup {
  top: -0.5em; /* Set top position */
}

/* Embedded content */
/* Remove border on images inside links in IE 10 */
img {
  border-style: none;
}

/* Forms */
/* Change font styles and remove margin for form elements */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1. Inherit font family */
  font-size: 100%; /* 1. Set font size to 100% */
  line-height: 1.15; /* 1. Set line height to 1.15 */
  margin: 0; /* 2. Remove margin */
}

/* Show overflow for button and input elements */
button,
input {
  overflow: visible; /* Show overflow */
}

/* Remove text transform inheritance for button and select elements */
button,
select {
  text-transform: none; /* Remove text transform inheritance */
}

/* Correct clickable type styling in iOS and Safari */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* Set appearance to button */
}

/* Remove inner border and padding for button elements in Firefox */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none; /* Remove border style */
  padding: 0; /* Remove padding */
}

/* Restore focus styles for button elements */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; /* Set outline style */
}

/* Correct padding for fieldset elements */
fieldset {
  padding: 0.35em 0.75em 0.625em; /* Set padding */
}

/* Correct text wrapping, color inheritance, and remove padding for legend elements */
legend {
  box-sizing: border-box; /* 1. Set box sizing to border-box */
  color: inherit; /* 2. Inherit color */
  display: table; /* 1. Display as table */
  max-width: 100%; /* 1. Set max width to 100% */
  padding: 0; /* 3. Remove padding */
  white-space: normal; /* 1. Set white space to normal */
}

/* Add correct vertical alignment for progress elements */
progress {
  vertical-align: baseline; /* Align vertically to baseline */
}

/* Remove default vertical scrollbar for textarea elements in IE 10+ */
textarea {
  overflow: auto; /* Show overflow */
}

/* Correct box sizing and remove padding for checkbox and radio input elements */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1. Set box sizing to border-box */
  padding: 0; /* 2. Remove padding */
}

/* Correct cursor style for number input elements in Chrome */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; /* Set height to auto */
}

/* Correct appearance and outline style for search input elements */
[type="search"] {
  -webkit-appearance: textfield; /* 1. Set appearance to textfield */
  outline-offset: -2px; /* 2. Set outline offset */
}

/* Remove inner padding for search input elements in Chrome and Safari on macOS */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove appearance */
}

/* Correct clickable type styling in iOS and Safari */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1. Set appearance to button */
  font: inherit; /* 2. Inherit font */
}

/* Interactive */
/* Add correct display for details elements in Edge, IE 10+, and Firefox */
details {
  display: block; /* Set display to block */
}

/* Add correct display for summary elements in all browsers */
summary {
  display: list-item; /* Set display to list-item */
}

/* Misc */
/* Hide template elements in IE 10+ */
template {
  display: none; /* Hide template elements */
}

/* Hide hidden elements */
[hidden] {
  display: none; /* Hide hidden elements */
}

/* Set default font size and custom color variables */
html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
  font-size: 62.5%;
    /* Set font size to 62.5% (equal to 10px on most browsers) */
}

/* Define custom color variables */
:root {
  --color-primary: #d73953; /* Define primary color */
  --color-black: #090909; /* Define black color */
  --color-white: #ffffff; /* Define white color */
  --color-light-grey: #f3f3f3; /* Define light grey color */
  --color-dark-grey: #353535; /* Define dark grey color */
  --text-color: var(--color-black); /* Set text color to black */

  /* Define font families */
  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Base font family */
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Title font family */

  /* Define font sizes */
  --font-size-small: 1.2rem; /* Small font size */
  --font-size-medium: 1.6rem; /* Medium font size */
  --font-size-large: 1.8rem; /* Large font size */
  --font-size-x-large: 2.3rem; /* Extra large font size */
  --font-size-xx-large: 4.8rem; /* Double extra large font size */

  /* Define font weights */
  --font-weight-regular: 400; /* Regular font weight */
  --font-weight-bold: 700; /* Bold font weight */

  /* Define line heights */
  --line-height-small: 1.2; /* Small line height */
  --line-height-base: 1.5; /* Base line height */
  --line-height-big: 1.8; /* Big line height */

  /* Define section styles */
  --section-header-align: center; /* Set header alignment to center */
  --section-footer-align: center; /* Set footer alignment to center */
  --section-tagline-transform: uppercase; /* Transform tagline to uppercase */

  /* Define section padding */
  --section-padding: 5rem 0; /* Set section padding */
  --section-header-padding: 0 0 3rem; /* Set header padding */
  --section-body-padding: 0 0 3rem; /* Set body padding */
  --section-footer-padding: 3rem 0 0; /* Set footer padding */
  --footer-padding: 5rem 0 1rem; /* Set footer padding */

  /* Define navigation item styles */
  --nav-item-font-family: var(--font-family-title); /* Set nav item font family */
  --nav-item-font-weight: var(--font-weight-bold); /* Set nav item font weight */
  --nav-item-font-size: var(--font-size-medium); /* Set nav item font size */
  --nav-item-letter-spacing: 0.04rem; /* Set nav item letter spacing */
  --nav-item-display: inline-block; /* Set nav item display */
  --nav-item-margin: 0 0 3rem 0; /* Set nav item margin */
  --nav-item-link-hover: var(--color-primary); /* Set nav item link hover color */
}

/* Body styles */
body {
  color: var(--text-color); /* Set text color */
  font-family: var(--font-family-base); /* Set base font family */
  font-size: var(--font-size-medium); /* Set base font size */
  font-weight: var(--font-weight-regular); /* Set base font weight */
  line-height: var(--line-height-base); /* Set base line height */
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title); /* Set heading font family */
  font-weight: var(--font-weight-bold); /* Set heading font weight */
}

/* Link styles */
a:link {
  color: var(--text-color); /* Set link color */
  text-decoration: none; /* Remove link underline */
}

a:visited {
  font-style: italic; /* Set visited link style to italic */
}

a:hover {
  text-decoration: underline; /* Underline link on hover */
}

a:active {
  background-color: var(--color-light-grey); /* Set active link background color */
}

/* Visually hidden class */
.visually-hidden {
  display: none; /* Hide visually hidden elements */
}

/* Card category styles */
.card-category {
  color: var(--color-primary); /* Set card category color */
}

/* Section styles */
.section {
  padding: var(--section-padding); /* Set section padding */
}

/* Section header styles */
.section-header {
  text-align: var(--section-header-align); /* Set header text alignment */
  padding: var(--section-header-padding); /* Set header padding */
}

/* Section body styles */
.section-body {
  padding: var(--section-body-padding); /* Set body padding */
}

/* Section footer styles */
.section-footer {
  padding: var(--section-footer-padding); /* Set footer padding */
  text-align: var(--section-footer-align); /* Set footer text alignment */
}

/* Section title styles */
.section-title {
  font-family: var(--font-family-title); /* Set title font family */
  font-size: var(--font-size-xx-large); /* Set title font size */
  font-weight: var(--font-weight-bold); /* Set title font weight */
  margin: var(--section-title-margin); /* Set title margin */
  color: var(--section-title-color); /* Set title color */
}

/* Section tagline styles */
.section-tagline {
  color: var(--color-primary); /* Set tagline color */
  font-family: var(--font-family-title); /* Set tagline font family */
  text-transform: var(--section-tagline-transform); /* Transform tagline text */
  font-weight: var(--font-weight-bold); /* Set tagline font weight */
}

/* Container styles */
.container {
  width: 960px; /* Set container width */
  margin-left: auto; /* Center container horizontally */
  margin-right: auto; /* Center container horizontally */
}

/* Footer styles */
.footer {
  padding: var(--footer-padding); /* Set footer padding */
}

/* Navbar menu styles */
.navbar-menu {
  float: right; /* Float navbar menu to the right */
}

/* Navigation styles */
.nav {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  list-style-type: none; /* Remove list item bullets */
  text-align: center; /* Center navigation items */
}

/* Navigation item styles */
.nav .nav-item {
  font-family: var(--nav-item-font-family); /* Set nav item font family */
  font-weight: var(--nav-item-font-weight); /* Set nav item font weight */
  font-size: var(--nav-item-font-size); /* Set nav item font size */
  letter-spacing: var(--nav-item-letter-spacing); /* Set nav item letter spacing */
  display: var(--nav-item-display); /* Set nav item display */
  margin: var(--nav-item-margin); /* Set nav item margin */
}

/* Navigation link styles */
.nav .nav-link {
  display: block; /* Display nav links as block elements */
  padding: 0.5rem 1rem; /* Set nav link padding */
}

/* Navigation link hover styles */
.nav .nav-link:hover {
  color: var(--nav-item-link-hover); /* Change link color on hover */
}

/* Base styles */
*,
*:before,
*:after {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Set base font size for responsive design */
html {
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */
  font-size: 62.5%; /* Set base font size to 10px for easier rem calculations */
}

/* Define root variables for consistent theming */
:root {
  --color-primary: #d73953; /* Primary color */
  --color-black: #090909; /* Black color */
  --color-white: #ffffff; /* White color */
  --color-light-grey: #f3f3f3; /* Light grey color */
  --color-dark-grey: #353535; /* Dark grey color */
  --text-color: var(--color-black); /* Text color */

  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Base font family */
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Title font family */

  --font-size-small: 1.2rem; /* Small font size */
  --font-size-medium: 1.6rem; /* Medium font size */
  --font-size-large: 1.8rem; /* Large font size */
  --font-size-x-large: 2.3rem; /* Extra large font size */
  --font-size-xx-large: 4.8rem; /* Extra extra large font size */

  --font-weight-regular: 400; /* Regular font weight */
  --font-weight-bold: 700; /* Bold font weight */

  --line-height-small: 1.2; /* Small line height */
  --line-height-base: 1.5; /* Base line height */
  --line-height-big: 1.8; /* Large line height */

  --section-header-align: center; /* Section header alignment */
  --section-footer-align: center; /* Section footer alignment */

  --section-tagline-transform: uppercase; /* Transform section tagline text to uppercase */

  --section-title-margin: 0; /* Section title margin */
  --section-title-color: var(--color-black); /* Section title color */

  --section-padding: 5rem 0; /* Section padding */
  --section-header-padding: 0 0 3rem; /* Section header padding */
  --section-body-padding: 0 0 3rem; /* Section body padding */
  --section-footer-padding: 3rem 0 0; /* Section footer padding */
  --footer-padding: 5rem 0 1rem; /* Footer padding */

  --nav-item-font-family: var(--font-family-title); /* Navigation item font family */
  --nav-item-font-weight: var(--font-weight-bold); /* Navigation item font weight */
  --nav-item-font-size: var(--font-size-medium); /* Navigation item font size */
  --nav-item-letter-spacing: 0.04rem; /* Navigation item letter spacing */
  --nav-item-display: inline-block; /* Navigation item display */
  --nav-item-margin: 0 0 3rem 0; /* Navigation item margin */
  --nav-item-link-hover: var(--color-primary); /* Navigation item link hover color */
}

/* Base styles for the body */
body {
  color: var(--text-color); /* Set text color */
  font-family: var(--font-family-base); /* Set base font family */
  font-size: var(--font-size-medium); /* Set base font size */
  font-weight: var(--font-weight-regular); /* Set base font weight */
  line-height: var(--line-height-base); /* Set base line height */
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title); /* Set heading font family */
  font-weight: var(--font-weight-bold); /* Set heading font weight */
}

/* Anchor link styles */
a:link {
  color: var(--text-color); /* Set anchor link color */
  text-decoration: none; /* Remove underline */
}

a:visited {
  font-style: italic; /* Set visited link font style to italic */
}

a:hover {
  text-decoration: underline; /* Underline link on hover */
}

a:active {
  background-color: var(--color-light-grey); /* Set active link background color */
}

/* Visually hidden element class */
.visually-hidden {
  display: none; /* Hide element visually */
}

/* Card category styles */
.card-category {
  color: var(--color-primary); /* Set card category color */
}
