/* 
    Filename: 30-style.css
    Purpose:
        - Edit the nav-item-link-hover property by setting its value to the color-white variable
        - Target the before pseudo elements of nav-link that is inside the nav:
            - Set the values of these elements to empty using content
            - Absolutely position the targeted elements
            - Set the vertical position to 0
            - The horizontal position of the targeted elements should be 0
            - Set the color of the background color of the targeted elements to the value of color-white
            - The width of the targeted elements should be set to 0
            - Set the height to 20% of the root element value
        - Target the before pseudo elements of nav-link when nav-item is hover and is inside nav:
            - Set the background color of the elements to the variable color-primary
            - Set the width of the elements to 100%
        - Does not have to pass w3c
*/

/* Styles for resetting default browser styles */
html {
    line-height: 1.15; /* Sets line height */
    -webkit-text-size-adjust: 100%; /* Adjusts text size */
  }
  
  /* Removes margin from body */
  body {
    margin: 0;
  }
  
  /* Renders main element as block */
  main {
    display: block;
  }
  
  /* Corrects font size and margin for heading elements */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Styles for horizontal rule */
  hr {
    box-sizing: content-box; /* Adjusts box sizing */
    height: 0; /* Sets height to 0 */
    overflow: visible; /* Shows overflow */
  }
  
  /* Styles for pre element */
  pre {
    font-family: monospace, monospace; /* Sets font family */
    font-size: 1em; /* Sets font size */
  }
  
  /* Styles for anchor elements */
  a {
    background-color: transparent; /* Sets background color to transparent */
  }
  
  /* Styles for abbr elements */
  abbr[title] {
    border-bottom: none; /* Removes bottom border */
    text-decoration: underline; /* Sets text decoration to underline */
  }
  
  /* Styles for bold elements */
  b,
  strong {
    font-weight: bolder; /* Sets font weight to bolder */
  }
  
  /* Styles for code, kbd, and samp elements */
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* Sets font family */
    font-size: 1em; /* Sets font size */
  }
  
  /* Styles for small elements */
  small {
    font-size: 80%; /* Sets font size to 80% */
  }
  
  /* Styles for sub and sup elements */
  sub,
  sup {
    font-size: 75%; /* Sets font size to 75% */
    line-height: 0; /* Sets line height to 0 */
    position: relative; /* Positions relatively */
    vertical-align: baseline; /* Aligns vertically to baseline */
  }
  
  /* Styles for sub element */
  sub {
    bottom: -0.25em; /* Adjusts bottom position */
  }
  
  /* Styles for sup element */
  sup {
    top: -0.5em; /* Adjusts top position */
  }
  
  /* Styles for image elements */
  img {
    border-style: none; /* Removes border */
  }
  
  /* Styles for form elements */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* Inherits font family */
    font-size: 100%; /* Sets font size to 100% */
    line-height: 1.15; /* Sets line height */
    margin: 0; /* Removes margin */
  }
  
  /* Styles for button and input elements */
  button,
  input {
    overflow: visible; /* Shows overflow */
  }
  
  /* Styles for button and select elements */
  button,
  select {
    text-transform: none; /* Sets text transform to none */
  }
  
  /* Styles for button elements in iOS and Safari */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* Sets appearance to button */
  }
  
  /* Styles for button elements in Firefox */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none; /* Removes border style */
    padding: 0; /* Removes padding */
  }
  
  /* Styles for button elements in Firefox */
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; /* Sets outline */
  }
  
  /* Styles for fieldset elements */
  fieldset {
    padding: 0.35em 0.75em 0.625em; /* Sets padding */
  }
  
  /* Styles for legend elements */
  legend {
    box-sizing: border-box; /* Adjusts box sizing */
    color: inherit; /* Inherits color */
    display: table; /* Displays as table */
    max-width: 100%; /* Sets max width to 100% */
    padding: 0; /* Removes padding */
    white-space: normal; /* Sets white space to normal */
  }
  
  /* Styles for progress elements */
  progress {
    vertical-align: baseline; /* Aligns vertically to baseline */
  }
  
  /* Styles for textarea elements */
  textarea {
    overflow: auto; /* Shows overflow */
  }
  
  /* Styles for checkbox and radio input elements */
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* Adjusts box sizing */
    padding: 0; /* Removes padding */
  }
  
  /* Styles for number input elements */
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto; /* Sets height to auto */
  }
  
  /* Styles for search input elements */
  [type="search"] {
    -webkit-appearance: textfield; /* Sets appearance to textfield */
    outline-offset: -2px; /* Offsets outline */
  }
  
  /* Styles for search input elements */
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Sets appearance to none */
  }
  
  /* Styles for file upload button elements */
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* Sets appearance to button */
    font: inherit; /* Inherits font */
  }
  
  /* Styles for details elements */
  details {
    display: block; /* Displays as block */
  }
  
  /* Styles for summary elements */
  summary {
    display: list-item; /* Displays as list item */
  }
  
  /* Styles for template elements */
  template {
    display: none; /* Hides element */
  }
  
  /* Styles for hidden elements */
  [hidden] {
    display: none; /* Hides element */
  }
  
  /* Resets box-sizing for all elements */
  *,
  *:before,
  *:after {
    box-sizing: border-box; /* Adjusts box sizing */
  }
  
  /* Sets smooth scrolling behavior for HTML */
  html {
    scroll-behavior: smooth; /* Sets smooth scrolling behavior */
    font-size: 62.5%; /* Sets font size to 62.5% */
  }
  
  /* Defines root variables for colors, fonts, sizes, etc. */
  :root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
  
    --section-header-align: center;
    --section-footer-align: center;
  
    --section-tagline-transform: uppercase;
  
    --section-title-margin: 0;
    --section-tagline-margin: 0;
    --section-title-color: var(--color-black);
  
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-body-padding: 0 0 3rem;
    --section-footer-padding: 3rem 0 0;
    --footer-padding: 5rem 0 1rem;
  
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: 0.04rem;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 3rem 0;
    --nav-item-link-hover: var(--color-white);
  
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);
  
    --header-padding: 4rem 0 0;
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left: 0;
  }
  
  /* Applies base styles to the entire document */
  body {
    color: var(--text-color); /* Sets text color */
    font-family: var(--font-family-base); /* Sets font family */
    font-size: var(--font-size-medium); /* Sets font size */
    font-weight: var(--font-weight-regular); /* Sets font weight */
    line-height: var(--line-height-base); /* Sets line height */
  }
  
  /* Applies title font family and size to heading elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-title); /* Sets font family */
    font-weight: var(--font-weight-bold); /* Sets font weight */
  }
  
  /* Sets default link styles */
  a:link {
    color: var(--text-color); /* Sets link color */
    text-decoration: none; /* Removes text decoration */
  }
  
  /* Styles for visited links */
  a:visited {
    font-style: italic; /* Sets font style to italic */
  }
  
  /* Styles for links on hover */
  a:hover {
    text-decoration: underline; /* Underlines link on hover */
  }
  
  /* Styles for active links */
  a:active {
    background-color: var(--color-light-grey); /* Sets background color */
  }
  
  /* Styles for buttons */
  .button {
    display: var(--button-display); /* Displays as inline-block */
    padding: var(--button-padding); /* Sets padding */
    border: var(--button-border); /* Sets border */
    font-size: var(--button-font-size); /* Sets font size */
    color: var(--button-color); /* Sets text color */
    text-decoration: var(--button-text-decoration); /* Sets text decoration */
  }
  
  /* Styles for button hover state */
  .button:hover {
    color: var(--button-hover-color); /* Sets text color on hover */
    text-decoration: var(--button-hover-text-decoration); /* Sets text decoration on hover */
    background-color: var(--button-hover-background); /* Sets background color on hover */
  }
  
  /* Applies a class to visually hide an element */
  .visually-hidden {
    display: none; /* Hides the element */
  }
  
  /* Styles for sections */
  .section {
    padding: var(--section-padding); /* Sets padding */
  }
  
  /* Styles for section headers */
  .section-header {
    text-align: var(--section-header-align); /* Aligns text */
    padding: var(--section-header-padding); /* Sets padding */
  }
  
  /* Styles for section bodies */
  .section-body {
    padding: var(--section-body-padding); /* Sets padding */
  }
  
  /* Styles for section footers */
  .section-footer {
    padding: var(--section-footer-padding); /* Sets padding */
    text-align: var(--section-footer-align); /* Aligns text */
  }
  
  /* Styles for section titles */
  .section-title {
    font-family: var(--font-family-title); /* Sets font family */
    font-size: var(--font-size-xx-large); /* Sets font size */
    font-weight: var(--font-weight-bold); /* Sets font weight */
    margin: var(--section-title-margin); /* Sets margin */
    color: var(--section-title-color); /* Sets text color */
  }
  
  /* Styles for section taglines */
  .section-tagline {
    color: var(--color-primary); /* Sets text color */
    font-family: var(--font-family-title); /* Sets font family */
    text-transform: var(--section-tagline-transform); /* Transforms text to uppercase */
    font-weight: var(--font-weight-bold); /* Sets font weight */
    margin: var(--section-tagline-margin); /* Sets margin */
  }
  
  /* Styles for hero sections */
  .section-hero {
    background-size: 90rem auto; /* Sets background size */
  }
  
  /* Styles for section hero titles */
  .section-hero .section-title {
    margin-bottom: 5rem; /* Sets margin */
  }
  
  /* Styles for inner sections */
  .section-hero .section-inner {
    padding: 10rem 40rem 2rem 0; /* Sets padding */
  }
  
  /* Styles for dark-themed sections */
  [data-section-theme="dark"] {
    --text-color: var(--color-white); /* Sets text color to white */
    --section-title-color: var(--color-white); /* Sets section title color to white */
    background-color: var(--color-black); /* Sets background color to black */
    --button-color: var(--color-white); /* Sets button text color to white */
  }
  
  /* Styles for container elements */
  .container {
    width: 960px; /* Sets width */
    margin-left: auto; /* Aligns horizontally */
    margin-right: auto; /* Aligns horizontally */
  }
  