/* 
   Filename: 1-style.css
   Purpose: Apply smooth scrolling behavior to the HTML element
*/

/* 
   Set smooth scrolling behavior for the entire HTML document
   This will make scrolling transitions fluid and animated
*/
html {
    scroll-behavior: smooth;
  }

/* 
   Filename: 2-style.css
   Purpose: Apply specific styles to various elements
*/

/* Set foreground color for the body */
body {
    color: #161616;
  }
  
  /* Set foreground color for all anchor elements */
  a {
    color: #161616;
  }
  
  /* Hide elements with class visually-hidden */
  .visually-hidden {
    display: none;
  }
  
  /* Set foreground color for elements with class card-category */
  .card-category {
    color: #D73953;
  }
  
  /* Set foreground color for elements with class section-tagline */
  .section-tagline {
    color: #D73953;
  }
  

/* 
   Filename: 3-style.css
   Purpose: Define custom properties and apply styles to various elements
*/

/* Define custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black); /* Set text color to color-black */
  }
  
  /* Revisit section-tagline and card-category declarations */
  .section-tagline,
  .card-category {
    color: var(--color-primary); /* Set color to color-primary */
  }
  
  /* Revisit body and anchor declarations */
  body {
    color: var(--text-color); /* Set color to text-color */
  }
  
  a {
    color: var(--text-color); /* Set color to text-color */
  }
  
  
  /* 
   Filename: 4-style.css
   Purpose: Define custom font families and apply them to various elements
*/

/* Define custom font-family properties */
:root {
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  /* Set body's font-family to font-family-base */
  body {
    font-family: var(--font-family-base);
  }
  
  /* Set font-family for section headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
  }
  

/* 
   Filename: 5-style.css
   Purpose: Define custom font sizes and apply them to various elements
*/

/* Define custom font-size properties */
:root {
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  
    /* Set font size for html element to 62.5% */
    font-size: 62.5%;
  }
  
  /* Set font size for body */
  body {
    font-size: var(--font-size-medium);
  }


/* 
   Filename: 6-style.css
   Purpose: Define custom font weights and apply them to various elements
*/

/* Define custom font-weight properties */
:root {
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* Set font weight for body */
body {
    font-weight: var(--font-weight-regular);
}

/* Set font weight for headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}
